<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ static_url("css/main.css") }}">
  </head>
  <body>
    {% block content %}
    {% end %}
    <script src="{{ static_url("js/vendor/react-0.13.3.js") }}"></script>
    <script src="{{ static_url("js/promise.js") }}"></script>
    <script src="{{ static_url("js/zalktis.js") }}"></script>
    <script src="{{ static_url("js/control.js") }}"></script>
    {% block extra_js %}
    {% end %}
  </body>
</html>
