<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ static_url("main.css") }}">
  </head>
  <body>
    <header class="main-header">
      <button id="shutdown_button" class="button shutdown-button">
        <i class="icon-off"></i>
      </button>
    </header>
    <div class="button-area">
      <button class="button option-button">
        SVT Play <img src="{{ static_url("images/svtplay.png") }}"></img>
      </button>
    </div>
    <script src="{{ static_url("main.js") }}"></script>
  </body>
</html>
